body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main-color);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-size);
  line-height: 1.16;
}

.link {
  text-decoration: none;
}

@media (max-width: 1024px) {
  /*For tablets:*/
}

@media (max-width: 480px) {
  /*For mobile phones:*/
}
